
#cll{
    height:510px !important;
}

#sideviewCar{
    position: absolute !important;
    
}

#sideview{
    background-image: url('images/beachbg2.png') !important;
  
}

#ffs, #fr, #fg, #fn,#ffsval,#ffrval, #fgval, #fnval {
    position: absolute;
}

#fg,#fgval{
    color:white;
}